body {
  background-color:rgb(252, 237, 245);
}
.details {
  width: 30%;
  padding: 25px;
  color: black;
  
}
input { width: 450px;
border-radius: 5px;
padding: 10px 15px; 
border: 1px solid black;
margin: 8px 0;
border-radius: 5px;

}
.UserItems {
  padding: 25px;
  color: black;
}

.renew {
  padding: 8px;
 background-color: rgb(9, 87, 9);
 border-radius: 5px;

}
.remove {
  padding: 8px;
  background-color:red;
  border-radius: 5px;

}

.btn {
  width: 100px;
  border-radius: 4px;
  background-color: rgb(115, 82, 235);
  color: black;
  

}

